@import 'sass/reset';
@import 'sass/fonts';
@import 'sass/variables';
@import 'sass/helpers';

.site-wrapper {
    position: relative;
    z-index: 1;
    margin: 0;
    font-family: $fuente-principal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    background-color: $color-blanco;
    color: $color-negro;
}//.main-wrapper

@import 'sass/footer';
@import 'sass/header';

@import 'sass/estilos-responsive';