@mixin image-2x($image, $size) {
    @media (min--moz-device-pixel-ratio: 1.3),
           (-o-min-device-pixel-ratio: 2.6/2),
           (-webkit-min-device-pixel-ratio: 1.3),
           (min-device-pixel-ratio: 1.3),
           (min-resolution: 1.3dppx) {
      /* on retina, use image that's scaled by 2 */
      background-image: url($image);
      background-size: $size;
    }
}

@mixin image-3x($image, $size) {
    @media (min--moz-device-pixel-ratio: 2.25),
           (-webkit-min-device-pixel-ratio: 2.25),
           (min-device-pixel-ratio: 2.25),
           (min-resolution: 2.25dppx) {
      /* on retina, use image that's scaled by 2 */
      background-image: url($image);
      background-size: $size;
    }
}

@mixin padding-top-bottom($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

.video-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 299.31px;//fallback ie
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 
    //html video-wrapper must have: style="--aspect-ratio: 3 / 4;"

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

sup {
    font-size: 70%;
    position: relative;
    top: -.4rem;
}

sub {
    font-size: 30%;
    position: relative;
}

small {
    font-size: 80%;
}

.text-lowercase {
    font-family: $fuente-principal;
    text-transform: lowercase!important;
}

.intel-clear-pro {
    font-family: $fuente-secundaria;
    font-weight: 700;
    text-transform: uppercase;
}

.padding-container {
    padding-left: $paddingSize;
    padding-right: $paddingSize;
    @media (min-width: $sm) {
        padding-left: $paddingSizeSM;
        padding-right: $paddingSizeSM;
    }
    @media (min-width: $md) {
        padding-left: $paddingSizeMD;
        padding-right: $paddingSizeMD;
    }
    @media (min-width: $lg) {
        padding-left: $paddingSizeLG;
        padding-right: $paddingSizeLG;
    }
}

.transition-all {
    transition: all $transitionSpeed;
}

.link-btn-default {
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;

    &:focus {
        border: none;
        outline: none;
    }
    &:active {
        border: none;
        outline: none;
    }
}

.opacity-hover {
    @extend .transition-all;
    &:hover {
        opacity: .7;
    }
}