sup {
    font-size: 70%;
    position: relative;
    top: -.4rem;
}

sub {
    font-size: 30%;
    position: relative;
}

small {
    font-size: 80%;
}

.text-lowercase {
    text-transform: lowercase;
}
