// FONT TYPE DEFINITIONS
@font-face {
    font-family: 'Intel Clear Pro';
    src: url('../fonts/intel-clear-pro.eot');
    src: url('../fonts/intel-clear-pro.woff') format('woff'),
        url('../fonts/intel-clear-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intel Clear';
    src: url('../fonts/intel-clear.eot');
    src: url('../fonts/intel-clear.woff') format('woff'),
        url('../fonts/intel-clear.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intel Clear';
    src: url('../fonts/intel-clear-bold.eot');
    src: url('../fonts/intel-clear-bold.woff') format('woff'),
        url('../fonts/intel-clear-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*@font-face {
    font-family: 'Intel Clear';
    src: url('../fonts/intel-clear-italic.eot');
    src: url('../fonts/intel-clear-italic.woff') format('woff'),
        url('../fonts/intel-clear-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Intel Clear';
    src: url('../fonts/intel-clear-bold-italic.eot');
    src: url('../fonts/intel-clear-bold-italic.woff') format('woff'),
        url('../fonts/intel-clear-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Intel Clear';
    src: url('../fonts/intel-clear-light.eot');
    src: url('../fonts/intel-clear-light.woff') format('woff'),
        url('../fonts/intel-clear-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Intel Clear';
    src: url('../fonts/intel-clear-light-italic.eot');
    src: url('../fonts/intel-clear-light-italic.woff') format('woff'),
        url('../fonts/intel-clear-light-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}*/